{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "tabWidth": 4,
  "useTabs": false,
  "proseWrap": "always",
  "singleQuote": true,
  "printWidth": 200,
  "trailingComma": "all"
}
